// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// NavBar **************************************************
.navbar {
    position: relative;
}

.logoNav {
    width: 38px;
    position: absolute;
    left: 45%;
    display: block;
}
